<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @friend.username %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @friend.fullname %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
