<%= form_with(model: schedule, local: true) do |form| %>
<%= form.text_field :date, :class => "form-control" ,:id => 'day' %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.select :username,options_from_collection_for_select(@friends, :username, :full_name, :selected => schedule.username) %>
  </div>

  <div class="field">
    <%= form.label :mark %>
    <%= form.select :mark, options_for_select([["○","○"], ["△","△"], ["×","×"]], :selected => schedule.mark) %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
